.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  height: 100%;
}

.content-title {
  width: var(--content-width);
  padding: 32px 0 8px 0;
  font-size: 3rem;
  text-align: center;
  color: var(--white);
  border-bottom: 1px solid var(--border-color);
}

/* Course grid styling */

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 150px;
  justify-content: center;
  gap: 16px;
  width: var(--content-width);
}

.course-card:hover,
.add-course-card:hover {
  background-color: #474747;
  box-shadow: 0 0 8px var(--gold);
  cursor: pointer;
}

.course-card,
.course-card:active {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  padding: 16px;
  font-size: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--inner-bg-color);
  color: var(--white);
}

.course-title {
  font-family: robotolight;
}

/* Add course button */

.add-course-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--inner-bg-color);
}

.add-icon-frame {
  width: 100%;
  height: 60%;
}

.add-icon {
  height: 90%;
  transition: height 0.1s;
}

.add-course-card:hover .add-icon {
  height: 100%;
  transition: height 0.1s;
}

/* Add course form styling */

.add-course-bg:not([hidden]) {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-course-frame {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  background-color: var(--inner-bg-color);
  border: solid 1px var(--border-color);
  border-radius: 5px;
}

#add-course-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  padding: 16px;
}

.form-input-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  color: var(--white);
}

.add-course-btn {
  width: min-content;
  padding: 4px 16px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--garnet);
}

.add-course-btn:hover {
  background-color: var(--garnet-brighter);
  cursor: pointer;
}

/* Add course form header styling */

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px;
  background-color: #3a3a3a;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form-header > h3 {
  font-size: 1.2rem;
  color: var(--white);
}

.close-btn-frame {
  width: 24px;
  height: 24px;
  background: center / 80% url(../images/close-btn.svg) no-repeat var(--garnet);
  border-radius: 50%;
}

.close-btn-frame:hover {
  background-color: var(--garnet-brighter);
  cursor: pointer;
}
