.container {
  background-color: var(--black);
  display: grid;
  grid-template-rows: max-content 1fr;
}

a {
  all: unset;
}

/* Header stlying */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px;
  background-color: var(--garnet);
}

.header-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-logo {
  width: 64px;
  height: 64px;
}

.header-logo:hover {
  background-color: var(--garnet-brighter);
  border-radius: 5px;
}

.header-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--white);
}

/* Profile icon and menu */

.profile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
}

.profile-btn:hover {
  background-color: var(--garnet-brighter);
  border-radius: 50%;
}

.profile-icon {
  height: 90%;
}

.menu-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  right: 16px;
  top: 70px;
  width: 150px;
  padding: 16px;
  background-color: var(--gold);
  border: 2px solid var(--border-color);
  border-radius: 5px;
}

.menu-box > button {
  font-weight: bold;
  color: var(--white);
  background-color: var(--garnet);
  border: none;
  border-radius: 5px;
  padding: 8px;
}

.menu-box > button:hover {
  background-color: var(--garnet-brighter);
}

.menu-box.hidden {
  display: none;
}
