:root {
  --header-height: 75px;
}

.content {
  min-height: calc(100vh - var(--header-height));
}

a {
  text-decoration: none;
  font-size: 0; /* Fixes a weird sizing issue */
}

/* Header stlying */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 4px 16px;
  background-color: var(--garnet);
}

.header-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-logo {
  width: 64px;
  height: 64px;
  background: center / cover url(../images/header-logo.svg) no-repeat;
}

.header-logo:hover {
  background-color: var(--garnet-brighter);
  border-radius: 5px;
}

.header-title {
  font-family: robotomedium;
  font-size: 2.5rem;
  color: var(--white);
}

/* Profile icon and menu */

.profile-btn {
  width: 64px;
  height: 64px;
  background: center / cover url(../images/profile-icon.svg) no-repeat;
  border: none;
}

.profile-btn:hover {
  background-color: var(--garnet-brighter);
  border-radius: 50%;
}

.menu-box:not([hidden]) {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  right: 16px;
  top: 70px;
  width: 150px;
  padding: 16px;
  background-color: var(--gold);
  border: 2px solid var(--border-color);
  border-radius: 5px;
  z-index: 1;
}

.menu-box > button:hover {
  background-color: var(--garnet-brighter);
}

.menu-box > button,
.menu-box > button:active {
  font-family: robotobold;
  letter-spacing: 0.5px;
  color: var(--white);
  background-color: var(--garnet);
  border: none;
  border-radius: 5px;
  padding: 8px;
}
