/* General styling */

.container,
.login-header,
.login-frame,
#login-form,
#login-form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  gap: 16px;
  color: var(--white);
  background-color: var(--black);
}

a {
  text-decoration: none;
  color: var(--gold);
}

a:hover {
  color: var(--gold-brighter);
}

/* Login header styling */

.login-header > img {
  width: 64px;
  height: 64px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.login-header > h1 {
  font-family: robotomedium;
  font-size: 1.5rem;
}

/* Login frame styling */

.login-frame {
  width: 300px;
  padding: 24px;
  border: solid 1px var(--border-color);
  border-radius: 5px;
  align-items: start;
  background-color: var(--inner-bg-color);
}

#login-form,
#login-form div,
#login-form label,
#login-form input {
  width: 100%;
}

/* Login form styling */

#login-form {
  gap: 8px;
}

#login-form > div {
  justify-content: center;
  align-items: start;
  gap: 4px;
}

#login-form input {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--black);
  color: var(--white);
}

#login-form input:focus {
  outline: 1px solid var(--gold);
}

/* Login button and forgot password link styling */

.forgot-pw-link {
  font-family: robotolight;
  font-size: 0.9rem;
  margin-top: 4px;
}

.login-frame > button {
  width: 100%;
  margin-top: 24px;
  padding: 8px 0;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--garnet);
}

.login-frame > button:hover {
  background-color: var(--garnet-brighter);
}

/* Register frame styling */

.register-frame {
  width: 300px;
  padding: 16px 24px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--inner-bg-color);
  text-align: center;
}
