<!-- This file represents the homepage content. -->

<!-- HTML head extension -->
{% extends "index.html" %}
{% block title %}Admin Panel{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
<sidebar>
  <h2>Manage</h2>
  <button type="button" class="item1">Approvals</button>
  <button type="button" class="item2">Users</button>
  <button type="button" class="item3">Courses</button>
</sidebar>

<div class="view-container">
  <div class="view">Stuff</div>
</div>
{% endblock %}
