<!-- This file represents the homepage content. -->

<!-- HTML head extension -->
{% extends "index.html" %}
{% block title %}Admin Panel{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
  <script defer src="{{ url_for('static', filename='scripts/admin.js') }}"></script>
{% endblock %}

<!-- Content -->
{% block content %}
<sidebar>
  <h2>Admin Panel</h2>
  <button type="button" class="sidebar-btn selected">Approvals</button>
  <button type="button" class="sidebar-btn">Users</button>
  <button type="button" class="sidebar-btn">Courses</button>
</sidebar>

<div class="view-container">
  <div class="view"></div>
</div>
{% endblock %}
