<!-- This file represents the page where teachers can grade assignments. -->

<!-- HTML head extension -->
{% extends "index.html" %}
{% block title %}Manage Assignment{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/assignment.css') }}">
  <script defer src="{{ url_for('static', filename='scripts/assignment.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="main-content">
    <section>
      <div class="assg-title-group">
        <h2 class="section-title">{{ crs_info["code"] }} - {{ asg_info["title"] }}</h2>
        <button class="edit-details-btn">Edit</button>
      </div>
      <div class="details-group">
        <div class="details-pair">
          <h3>Description:</h3>
          <p>{{ asg_info["description"] }}</p>
        </div>
        <div class="details-pair">
          <h3>Due Date:</h3>
          <p>{{ asg_info["deadline"] }}</p>
        </div>
      </div>
    </section>
    
    <section>
      <h2 class="section-title">Submissions</h2>
      <table class="student-table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Similarity Score</th>
            <th scope="col">Grade</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
          <!-- obj has ["user"] and ["assignment"] -->
          {% for obj in sub_info %}
            <tr>
              <td>{{ obj["user"]["lastname"] }}, {{ obj["user"]["firstname"] }}</td>

              {% if obj["assignment"] %}
                <!-- Displays the most recent timestamp -->
                <td>{{ obj["assignment"][obj["assignment"]|length - 1]["timestamp"] }}</td>
                <td>*</td>
                <td>*</td>
                <td class="btn-cell">
                  <div class="btn-wrapper">
                    <button class="view-btn" type="button">Manage</button>
                  </div>
                </td>
              {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>*</td>
                <td class="btn-cell">
                  <div class="btn-wrapper">
                    <button class="view-btn inactive" type="button">N/A</button>
                  </div>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="save-revert-btns">
        <button class="revert-btn" type="button">Revert</button>
        <button class="save-btn" type="button">Save</button>
      </div>
    </section>
  </div>
  <div class="popup-bg">

  </div>
{% endblock %}