<!-- This file represents course content. -->

<!-- HTML head extension -->
{% extends "index.html" %}
{% block title %}{{ course["code"] }}{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/course.css') }}">
  <script defer src="{{ url_for('static', filename='scripts/course.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="main-content">
    <section>
      <h2 class="section-title">{{ course["title"] }}</h2>
      <p class="course-description">{{ course["description"] }}</p>
    </section>

    <section>
      <h2 class="section-title">Assignments</h2>
      <div class="assignment-grid">
        {% if course["assignments"] %}
          {% for assignment in course["assignments"] %}
            <div class="assignment-card">
              <div class="assignment-text">
                <div class="assignment-title">{{ assignment["title"] }}</div>
                <p>{{ assignment["description"] }}</p>
                <p>
                  Due: {{ assignment["dueDate"] }} at {{ assignment["dueTime"] }}
                </p>
                {% if role == "student" %}
                  <div class="submit-status">
                    Submitted: {{ assignment["isSubmitted"] }}
                  </div>
                {% endif %}
              </div>
              {% if role == "student" %}
                <button class="assignment-btn upload-btn" type="button">UPLOAD</button>
              {% elif role == "teacher" or role == "ta" %}
                <a class="assignment-btn" href="/">MANAGE</a>
              {% endif %}
            </div>
          {% endfor %}
        {% else %}
          <p>No assignments are currently posted.</p>
        {% endif %}
      </div>
    </section>
    
    <section>
      <h2 class="section-title">People</h2>
      {% if role == "teacher" %}
        <button class="link-btn" type="button">Generate invite link</button>
      {% endif %}
      <table class="user-table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">
              <div class="role-head">
                <span>Role</span>
                {% if role == "teacher" %}
                  <button>Manage</button>
                {% endif %}
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for user in course["users"] %}
            <tr>
              <td>{{ user["name"] }}</td>
              <td>
                <div class="role-cell">
                  {{ user["role"] }}
                  {% if user["role"] == "Instructor" %}
                    <img
                      class="table-icon"
                      src="{{ url_for('static', filename='images/star-icon.svg') }}"
                    />
                  {% elif user["role"] == "Teaching Assistant" and
                     role == "teacher" %}
                    <img
                      class="table-icon remove-ta"
                      src="{{ url_for('static', filename='images/down-arrow.svg') }}"
                    />
                  {% elif user["role"] == "Student" and
                     role == "teacher" %}
                    <img
                      class="table-icon set-ta"
                      src="{{ url_for('static', filename='images/up-arrow.svg') }}"
                    />
                  {% endif %}
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>

  <!-- Background to center popup windows -->
  <div class="popup-bg" hidden>
    <!-- Popup window for uploading assignments -->
    <div class="upload-frame" hidden>
      <div class="popup-header">
        <h3>Upload Assignment</h3>
        <div class="close-btn"></div>
      </div>
      <form id="upload-form" action="" method="">
          <textarea
            type='text'
            class="assignment-entry"
            name="assignment-entry"
            placeholder="Enter your submission here"
            required></textarea>
          <button class="submit-form-btn" type="submit">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}