<!-- This file represents course content. -->

<!-- HTML head extension -->
{% extends "index.html" %}
{% block title %}{{ course["code"] }}{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/course.css') }}">
  <script defer src="{{ url_for('static', filename='scripts/course.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="main-content" data-code="{{ course['code'] }}">
    <section>
      <h2 class="section-title">{{ course["title"] }}</h2>
      <p class="course-description">{{ course["desc"] }}</p>
    </section>

    <section>
      <h2 class="section-title">Assignments</h2>
      <div class="assignment-grid">
        {% if course["assignments"] %}
          {% for assignment in course["assignments"] %}
            <div class="assignment-card" data-id="{{ assignment['_id'] }}">
              <div class="assignment-text">
                <div class="assignment-title">{{ assignment["title"] }}</div>
                <p>{{ assignment["description"] }}</p>
                <p>
                  Due: {{ assignment["deadline"] }} UTC
                </p>
              </div>
              {% if session['role'] == 1 %}
                {% if assignment["_id"] in course["submissions"] %}
                  <button class="assignment-btn-submitted submit-btn" type="button">SUBMITTED</button>
                {% else %}
                  <button class="assignment-btn submit-btn" type="button">SUBMIT</button>
                {% endif %}
              {% elif session['role'] >= 2 %}
                <a class="assignment-btn" href="">MANAGE</a>
              {% endif %}
            </div>
          {% endfor %}


          <!-- Button for teachers to add assignments -->
          {% if session['role'] >= 3 %}
            <button class="add-assignment-card" type="button">
              <div class="add-icon-frame">
                <img
                  class="add-icon"
                  src="{{ url_for('static', filename='images/plus-sign.svg') }}"
                  alt="Plus sign"
                />
              </div>
              <span>Add assignment</span>
            </button>
          {% endif %}
        {% else %}
          <p>No assignments are currently posted.</p>
        {% endif %}
      </div>
    </section>
    
    <section>
      <h2 class="section-title">People</h2>
      {% if session['role'] >= 3 %}
        <button class="link-btn" type="button">Generate invite link</button>
      {% endif %}
      <table class="user-table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
          </tr>
        </thead>
        <tbody>
          {% for user in course["enrolled"] %}
            <tr>
              <td>{{ user["lastname"] }}, {{ user["firstname"] }}</td>
              <td>
                {% if user['role'] == 3 %}
                  Instructor
                {% elif user['role'] == 2 %}
                  Teaching Assistant
                {% elif user["role"] == 1 %}
                  Student
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>

  <!-- Background to center popup windows -->
  <div class="popup-bg" hidden>
    <!-- Popup window for submitting assignments -->
    {% if session['role'] == 1 %}
      <div class="popup-window submit-window" hidden>
        <div class="popup-header">
          <h3>Submit Assignment</h3>
          <div class="close-btn"></div>
        </div>
        <form id="popup-form" action="{{ url_for('backend.submit_assignment') }}" method="POST">
            <textarea
              type='text'
              id="assg-entry"
              name="assg-entry"
              rows="20" cols="80"
              placeholder="Enter your submission here"
              required></textarea>
            <button class="form-btn" type="submit">Submit</button>
            <input name="assg-course" value="{{ course['_id'] }}" hidden>
            <input name="assg-user-id" value="{{ session['id'] }}" hidden>
            <input id="assg-id" name="assg-id" hidden>
        </form>
      </div>
    {% endif %}

    <!-- Popup window for teachers to create assignments -->
    {% if session['role'] >= 3 %}
      <div class="popup-window add-assignment-window" hidden>
        <div class="popup-header">
          <h3>Add Assignment</h3>
          <div class="close-btn"></div>
        </div>
        <form id="popup-form" action="{{ url_for('backend.add_assignment') }}" method="POST">
            <div class="form-input-group">
              <label for="assg-name">Name</label>
              <input type='text' id="assg-name" name="assg-name" required>
            </div>
            <div class="form-input-group">
              <label for="assg-desc">Description</label>
              <textarea
                type='text'
                id="assg-desc"
                name="assg-desc"
                required></textarea>
            </div>
            <div class="form-input-group">
              <label for="due-date">Due date</label>
              <input type='datetime-local' id="due-date" name="due-date" required>
            </div>
            <button class="form-btn" type="submit">Add</button>
            <input name="course-code" value="{{ course['_id'] }}" hidden>
        </form>
      </div>
    {% endif %}
  </div>
{% endblock %}