<!-- This file represents the homepage content. -->

<!-- HTML head extension -->
{% extends "index.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
  <script defer src="{{ url_for('static', filename='scripts/home.js') }}"></script>
{% endblock %}

<!-- Content -->
{% block content %}
  <h2 class="content-title">Courses</h2>
  <div class="course-grid">
    {% for course in courses %}
      <a href="/">
        <div class="course-card">{{ course["title"] }}</div>
      </a>
    {% endfor %}

    {% if isTeacher %}
      <!-- Button to add additional courses for teachers -->
      <button class="add-course" type="button">
        <div class="add-icon-frame">
          <img
            class="add-icon"
            src="{{ url_for('static', filename='images/plus-sign.svg') }}"
            alt="Plus sign"
          />
        </div>
        <span>Add course</span>
      </button>
    {% endif %}
  </div>

  {% if isTeacher %}
    <!-- New course popup form for teachers-->
    <div class="add-course-frame" hidden>
      <form action="{{ url_for('addCourse') }}" method="POST">

      </form>
    </div>
  {% endif %}
{% endblock %}
