<!-- This file represents the homepage content. -->

<!-- HTML head extension -->
{% extends "index.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
  <script defer src="{{ url_for('static', filename='scripts/home.js') }}"></script>
{% endblock %}

<!-- Content -->
{% block content %}
  <div class="main-content">
    <h2 class="content-title">Courses</h2>
    <div class="course-grid">
      {% if courses %}
        {% for course in courses %}
          <a href="{{ url_for('frontend.course_page', code=course['_id']) }}">
            <div class="course-card">
              <div class="course-code">{{ course["code"] }}</div>
              <div class="course-title">{{ course["title"] }}</div>
            </div>
          </a>
        {% endfor %}
        {% if session['role'] >= 3 %}
          <!-- Button to add additional courses for teachers -->
          <button class="add-course-card" type="button">
            <div class="add-icon-frame">
              <img
                class="add-icon"
                src="{{ url_for('static', filename='images/plus-sign.svg') }}"
                alt="Plus sign"
              />
            </div>
            <span>Add course</span>
          </button>
        {% endif %}
      {% elif session['role'] >= 3 %}
        <!-- Button to add additional courses for teachers -->
        <button class="add-course-card" type="button">
          <div class="add-icon-frame">
            <img
              class="add-icon"
              src="{{ url_for('static', filename='images/plus-sign.svg') }}"
              alt="Plus sign"
            />
          </div>
          <span>Add course</span>
        </button>
      {% else %}
        <p class="no-enrolled">No enrolled courses</p>
      {% endif %}
    </div>
  </div>

  {% if session['role'] >= 3 %}
    <!-- New course popup form for teachers-->
    <div class="add-course-bg" hidden>
      <div class="add-course-frame">
        <div class="form-header">
          <h3>Add Course</h3>
          <div class="close-btn-frame"></div>
        </div>
        <form id="add-course-form" action="{{ url_for('backend.add_course') }}" method="POST">
            <div class="form-input-group">
              <label for="course-name">Course Name</label>
              <input type='text' id="course-name" name="course-name" required>
            </div>
            <div class="form-input-group">
              <label for="course-code">Course Code</label>
              <input type='text' id="course-code" name="course-code" required>
            </div>
            <div class="form-input-group">
              <label for="course-desc">Course Description</label>
              <input type='text' id="course-desc" name="course-desc">
            </div>
            <button class="add-course-btn" type="submit">Add</button>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}
