<!-- This file represents the common HTML structure for the main pages. -->

<!-- HTML head extension -->
{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
  <script defer src="{{ url_for('static', filename='scripts/index.js') }}"></script>
{% endblock %}

<!-- Content -->
{% block container %}
  <header>
    <div class="header-info">
      <a class="header-logo" href="/"></a>
      <a class="header-title" href="/">Canvas 2</a>
    </div>
    <div class="profile-group">
      <span class="navbar-welcome-text">Welcome, {{ session["username"] }}</span>
      <button class="profile-btn" type="button"></button>
    </div>
  </header>
  <div class="menu-box" hidden>
    <button class="menu-btn" type="button">Profile</button>
    <a class="menu-btn" href="{{ url_for('auth.logout') }}">Logout</a>
  </div>
  <div class="content">
    {% block content %}{% endblock %}
  </div>
{% endblock %}